.question {
  border-bottom: 1px solid #dbdef0;
  margin-top: 1rem;
}
.question h1 p {
  font-size: 1.5rem;
  color: #293264;
  margin-bottom: 1rem;
  text-align: left;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.answer button {
  width: fit-content;
  white-space: nowrap;
  padding: 0.2rem 1rem;
  border: none;
  background-color: transparent;
  border: 1px solid #4d5b9e;
  border-radius: 1rem;
  font-size: 1rem;
}
.answer button:hover {
  cursor: pointer;
  background: #d6dbf5;
}
.answer button.active {
  background: #d6dbf5;
  border: 1px solid #4d5b9e;
}
.answer button.true {
  background: #94d7a2;
  border: 1px solid #94d7a2;
}
.answer button.false {
  background: #f8bcbc;
  border: 1px solid #f8bcbc;
}
@media screen and (max-width: 600px) {
  .answer button:hover {
    cursor: pointer;
    background: transparent;
  }
}
